<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.itesm.tradefree">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chat.ActivityChat"></activity>
        <activity android:name=".Chats.ActivityChats" />
        <activity android:name=".ProfileSeller.ActivityProfileSeller" />
        <activity android:name=".Profile.ActivityProfile" />
        <activity android:name=".Product.ActivityProduct" />
        <activity android:name=".Home.ActivityHome" />
        <activity android:name=".Register.ActivityRegister" />
        <activity android:name=".Login.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>